<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./public/css/style.css" />
	<title>Smoothieverse!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>