<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Smoothieverse</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/064a5d298d.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- LINK TO jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default fixed-top" role="navigation">
        <div class="container">
            <!-- Navbar Header [contains both toggle button and navbar brand] -->
            <div class="navbar-header">
                <!-- Toggle Button [handles opening navbar components on mobile screens]-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-hidden="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Navbar Brand -->
                <span class="navbar-brand"><img src="img/logo.png" id="logo"></span>
            </div>
            <!-- Navbar Collapse-->
            <div class="navbar-collapse collapse">
                <!-- Navbar Menu -->
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/submit">Submit a recipe</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/browse">Browse</a></li>
                    <li><a></a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    
                    <ul class="nav navbar-nav">
                        

                            {{#if sessionUser}}
                            <li>
                                <a href="/dashboard">{{sessionUser.username}}</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                            {{else}}
                            <li>
                                <a href="/login">Login/Register</a>
                            </li>
                            {{/if}}
                            
                            
                        

                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" align="center">
			
			{{{ body }}}

			</div>
        </div>
    </div>

	<footer class="footer">
	    <div class="container">
	        <p>&copy; Copyright, 2018. All rights reserved - Chris Homsey, Stuart Kushner, Kyle Crane, Roxann Bindas</p>
	    </div>
	</footer>

</body>
</html>