<div class="container">
    <div class="row">
        <div class="col-sm-12" align="center">

        <div class="panel panel-primary" align="left">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Search for Smoothies</strong></h3>
            </div>
            <div class="panel-body">
			

			<!-- List of all smoothies will go here -->
			<!-- Example:

			{{#each smoothies}}
				<a href="/smoothies/{{this.id}}"></a><h3>{{this.name}}</h3></a>
				<p>{{this.description}}</p>
			{{/each}} 

			-->

            </div>
        </div>

      </div>
   </div>
</div>