

<div class="panel panel-primary" align="left">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Log In</strong></h3>
    </div>
    <div class="panel-body">
        <div class="row-fluid login">
            <div class="dialog">
                <div class="block">
				<form action="/login" method="POST">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" placeholder="Username" type="text" class="span12" />
					<label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Password" class="span12" /><br>
					<span class="text-danger">{{message}}</span>
					<div class="form-actions">
						<p>Don't have an account? <a href="/signup" class="">Sign Up</a></p>
						<button class="btn btn-success" type="submit">Sign In</button>
						<div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
</script>