<div class="container">
        <div class="row">
            <div class="col-sm-12" align="center">

<div class="panel panel-primary" align="left">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Search for Smoothies</strong></h3>
    </div>
    <div class="panel-body">
        <!-- Form -->
        <form>
            <div class="form-group">
                <input type="text" id="smoothie-search" class="form-control" placeholder="What tasty treat are you searching for?">
            </div>
            <button type="submit" class="btn btn-success" id="add-submit">Submit</button>
            <button type="submit" class="btn btn-danger" id="add-reset">Reset</button>
            <button type="submit" class="btn btn-primary" id="add-view">See All Smoothies</button>
            <div class="panel-body" id="display-search"></div>
        </form>
    </div>
</div>

<script src="js/search-recipe.js" type="text/javascript"></script>