<div class="container">
   <div class="row">
      <div class="col-sm-12" align="center">

<div class="panel panel-primary subIngred" align="left">
   <div class="panel-heading">
      <h3 class="panel-title"><strong>Submit a recipe</strong></h3>
   </div>
   <div class="panel-body">
      <form>
         <div class="form-group">
            <label for="smoothie-name-input">Smoothie Title:</label>
            <input type="text" class="form-control" id="smoothie-name-input" style="width: 300px;" required>
         </div>
          <div class="form-group">
            <label for="description-input">Description:</label>
            <input type="text" class="form-control" id="description-input" placeholder="optional" style="width: 300px;">
         </div>
         <div class="form-group">
            <label for="ingredient-input">Ingredients:</label>
            <br>
            <input type="text" class="form-control" id="ingredient-input" placeholder="ex. 3/4 cups Orange Juice" style="width: 300px; display: inline-block;" required>
            <button class="btn btn-primary" id="add-ingredient">Add Ingredient</button>
            <div id="add-list"></div>
         </div>

         <div class="form-group">
            <div class="form-label" id="instruction-input"><strong>Instructions:</strong></div>
            <textarea id="instructions"></textarea>
         </div>

         <button class="btn btn-primary" id="submit-recipe">Submit</button>
      </form>               
   </div>
</div>

      </div>
   </div>
</div>

<script src="js/submit-recipe.js" type="text/javascript"></script>