body {
  background: url("../img/bg.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.navbar-brand {
	font-size: 25px;

}

.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #000000;
	border: solid #000000;
}

.navbar .brand, .navbar .nav > li > a:hover {
    background: #3F3D3D; 
    
}

.field {
	width: 190px;
	border: solid 1px #b3b3a9;
	background: #fff;
	padding: 6px 6px 6px 27px;
		
}

.search {
	background: url("../img/icons/search.png") no-repeat #fff 8px 8px;

}

.myCarousel {
  width: 100%;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
  
}

.carousel-inner {
	margin-top:20px; 
	border:solid thin #000000; 
	border-radius: 10px;
  height: 400px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1.25;

}

.carousel-caption, #site-intro,h1 {
  font-family: 'Indie Flower', cursive;
  color: #000000;
}


.btn-hovn1:hover {
    background-color: #4CAF50;
    color: white;
    }

.subIngred {
	font-family: font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	
}

.panel {
	border: solid 1px #000000;
}

.panel-heading {
	background: #4CAF50 !important;
}

#user-submit, #submit-recipe, #add-ingredient, #add-submit {
	background: #4FA44F;
  border: solid 1px #4FA44F;
}

#user-submit, #submit-recipe, #add-ingredient, #add-submit {
  color: #ffffff;
}

textarea {
  width: 100%; 
  height: auto;

}


#site-intro, #intro-title {
  text-align: center;
  font-size: 35px;
}

#site-intro {
  font-size: 35px;
}


.footer {
    width:100%;
    text-align: center;
    color: #000000;
    font-size:12px;
    bottom: 0;
}

